*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-color: rgb(33, 33, 33);
    font-family: "Roboto",Arial,sans-serif;
    z-index: 0;
    height: 1100px;
    width: 1130px;
}

button:hover{
    background-color: rgba(11, 92, 114, 0.098);
    border: solid 0.1px;
    border-left: solid 4px;
    border-color: rgba(116, 34, 55, 0.706);
    border-color: rgba(255, 255, 255, 0.176);
    color: white;
}

.first_Button{
    font-family: "Roboto",Arial,sans-serif;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgba(216, 247, 247, 0.919);
    background-repeat:no-repeat;
    padding: 10px 20px 10px 15px;
    border: solid 0.05px;
    border-left: solid 4px;
    border-color: rgba(21, 135, 99, 0.808);
    border-radius: 2px;
    overflow: hidden; 
    font-size:small;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition-duration: 0.4s;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 9;
}

.second_Button{
    font-family: "Roboto",Arial,sans-serif;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgba(216, 247, 247, 0.919);
    background-repeat:no-repeat;
    padding: 10px 20px 10px 15px;
    border: solid 0.05px;
    border-left: solid 4px;
    border-color: rgba(21, 135, 99, 0.808);
    border-radius: 2px;
    overflow: hidden; 
    font-size: small;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition-duration: 0.4s;
    position: absolute;
    top: 25px;
    right: 155px;
    cursor: pointer;
    z-index: 9;
}

img{
    position: absolute;
    top: 90px;
    left: 0px;
    z-index: -1;
    border-top: solid 0.1px;
    border-bottom: solid 2px;
    border-top-color: rgba(240, 255, 255, 0.682);
    border-bottom-color: rgba(255, 255, 255, 0.451) ;
}

.introduce{
    padding: 15px 25px 15px 25px;
    background-color: rgb(16, 35, 37);
    border-radius: 10px 90px 15px 40px;
}

.ME{
    font-family: Georgia, serif;
    color: white;
    font-size: 0.95cm;
    position: absolute;
    right: 70px;
    bottom: 170px;
    z-index: 10;
}

.white_sentence{
    font-size: 1.5cm;
}

.IM{
    font-size: 1.15cm;
    color: rgb(200, 193, 193);
}

.oektem{
    font-size: 1.7cm;
}

.A{
    font-size: 1.15cm;
    color: rgb(200, 193, 193);
}

.Web_Dev{
    font-size: 1.8cm;
    color: rgb(144, 60, 71);
}

.based_in{
    color: rgba(231, 204, 142, 0.79);
    line-height: 1.5em;
}

.div_1{
    width: 600px;
    height: 550px;
    background-color: rgba(24, 22, 22, 0.851);
    position: absolute;
    top: 190px;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}

.Tech_Stack{
    position: relative;
    top: 200px;
    left: 30px;
    border-left: solid;
    padding-left: 5cm;
    color: rgb(255, 240, 244);
    text-transform: uppercase;
    z-index: 7;
    
}

.HTML{
    position: absolute;
    top: 205px;
    left: 145px;
    cursor: default;
    z-index: 7;
}

.CSS{
    position: absolute;
    top: 205px;
    left: 265px;
    cursor: default;
    z-index: 7;
}

.JavaScript{
    position: absolute;
    top: 210px;
    left: 380px;
    cursor: default;
    z-index: 7; 
}

.React{
    position: absolute;
    top: 280px;
    left: 210px;
    cursor: default;
    z-index: 7;
}

.MongoDB{
    position: absolute;
    top: 280px;
    left: 315px;
    cursor: default;
    z-index: 7;
}

.NodeJS{
    position: absolute;
    top: 350px;
    left: 260px;
    cursor: default;
    z-index: 7;
}

.linkedln{
    position: absolute;
    top: 650px;
    left: 255px;
    color: rgb(130, 183, 229);
    text-decoration: none;
    z-index: 7;
}

.Rechte{
    position: relative;
    top: 960px;
    text-align: center;
    color: rgba(168, 172, 176, 0.23);
    z-index: 8;
}

.Impressum{
    position: absolute;
    left: 470px;
    top: 1080px;
    bottom: 30px;
    color: rgba(141, 168, 171, 0.843);
    z-index: 8;
}

.Datenschutz{
    position: absolute;
    left: 590px;
    top: 1080px;
    bottom: 30px;
    color: rgba(141, 168, 171, 0.843);
    z-index: 8;
}