*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-color: rgba(94, 148, 148, 0.934);
    z-index: 0;
}

button:hover{
    background-color: rgba(47, 31, 31, 0.547);
    border: solid;
    border-color: rgba(255, 255, 255, 0.176);
    color: white;
}

.first_Button{
    font-family: "Roboto",Arial,sans-serif;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgba(231, 204, 142, 0.75);
    background-repeat:no-repeat;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    overflow: hidden; 
    font-size: medium;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition-duration: 0.4s;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    display: grid;
    z-index: 9;
}

.second_Button{
    font-family: "Roboto",Arial,sans-serif;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgba(231, 204, 142, 0.75);
    background-repeat:no-repeat;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    overflow: hidden; 
    font-size: medium;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition-duration: 0.4s;
    position: absolute;
    top: 25px;
    right: 175px;
    cursor: pointer;
    display: grid;
    z-index: 9;
}

img{
    position: absolute;
    top: 0px;
    left: 0px;
}

p{
    padding: 15px 25px 15px 25px;
    background-color: rgb(16, 35, 37);
    border-radius: 10px 90px 15px 40px;
}

.ME{
    font-family: Georgia, serif;
    color: white;
    font-size: 0.95cm;
    position: absolute;
    right: 100px;
    bottom: 170px;
    z-index: 10;
}

.white_sentence{
    font-size: 1.5cm;
}

.IM{
    font-size: 1.15cm;
    color: rgb(200, 193, 193);
}

.oektem{
    font-size: 1.7cm;
}

.A{
    font-size: 1.15cm;
    color: rgb(200, 193, 193);
}

.Web_Dev{
    font-size: 1.8cm;
    color: rgb(144, 60, 71);
}

.based_in{
    color: rgba(231, 204, 142, 0.79);
    line-height: 1.5em;
}

.div_1{
    width: 710px;
    background-color: rgba(24, 22, 22, 0.851);
    position: absolute;
    top: 190px;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}